<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="classpath*:/spring/spring-*.xml"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:schedule.properties</value>
            </list>
        </property>
    </bean>

    <!--&lt;!&ndash; 用于持有ApplicationContext,可以使用SpringContextHolder.getBean('xxxx')的静态方法得到spring bean对象 &ndash;&gt;-->
    <!--<bean id="springContextHolder" class="com.cloneZjrt.util.ContextUtil" />-->

    <!--&lt;!&ndash; 扫描util包下所有使用注解的类型 &ndash;&gt;-->
    <!--<context:component-scan base-package="com.cloneZjrt.util"/>-->


</beans>